html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.markdown-text a {
  color: #4444eb;
  text-decoration: underline;
}

.payment-stream-form {
  /* Form outline */
  padding: 1em;
}

.payment-stream-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.payment-stream-form form li + li {
  margin-top: 1em;
}

.payment-stream-form label {
  /* Uniform size & alignment */
  display: inline-block;
  text-align: left;
  text-wrap: nowrap;
  max-width: 200px;
}

.payment-stream-form input,
textarea,
select {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  /*width: 300px;*/
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
  border-radius: 0.3em;
  margin: 0.3em;
}

.payment-stream-form input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

.payment-stream-form textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.payment-stream-form button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
  border-radius: 0.3em;
  border: 1px solid #555;
  background-color: #999;
  color: white;
}

.inputBox {
  max-width: 100px;
}
